In [95]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [3]:
page_link = 'https://www.darty.com/nav/extra/list?s=def&cat=756&m=DELL-ASUS'
page_response = requests.get(page_link, timeout=5)
page_content = BeautifulSoup(page_response.content, "html.parser")
#print(page_content)

In [60]:
nombre = page_content.find('div',class_='list_number_product').find('b').text
nombre_modèle = int(nombre.split()[0])
nombre_modèle

567

In [71]:
nombre_par_page = int(page_content.find('div', id="darty_product_list_results_per_page").find('b').text)
nombre_par_page

30

In [68]:
nombre_page = (nombre_modèle//))+1
nombre_page

19

In [73]:
liste_address = []
for i in range(nombre_page):
    address = 'https://www.darty.com/nav/extra/list?s=def&cat=756&m=DELL-ASUS'
    if (i==0) :
        address = address
    else :
        address = address + '&o=' + str(i*nombre_par_page)
    liste_address.append(address)

In [ ]:
d = {'nom': [], 
      'discount': []
     }
df = pd.DataFrame(data=d)

for i in range(len(liste_address)) :
    page_link = liste_address[i]
    page_response = requests.get(page_link, timeout=5)
    page_content = BeautifulSoup(page_response.content, "html.parser")
    for j in range(30):
        nom = page_content.find('div', attrs={'data-index': str(i*nombre_par_page + j)}).find('div',class_='prd-name').text
        discount = page_content.find('div', attrs={'data-index': str(i*nombre_par_page + j)}).find('p',class_='darty_prix_barre_remise darty_small separator_top')
        if (str(discount) == 'None'):
            discount =''
        else :
            discount = discount.text 
        df = df.append({'nom' : nom,
                        'discount':discount}, ignore_index=True)

In [94]:
df.head(5)

                           nom discount
0           Asus E203NA-FD084T    - 21%
1           Asus S430UA-EB135T
2  Asus VIVOBOOK S530UA-BQ296T
3  Asus ZENBOOK UX430UA-GV049T    - 11%
4           Asus R702UB-BX122T

In [113]:
df['discount_number'] = list(map(lambda x : int(re.sub('\W+','', x)) if x != '' else 0 , df.discount))

In [117]:
df.sort_values(['discount_number'],ascending=0).head(5)

,nom,discount,discount_number
513,Dell E7470 - i7 - 8go - 240go ssd - full-hd - w10,- 50%,50
145,Dell E6330 - i5 - 4 go - 320go hdd - windows 7,- 47%,47
355,Dell E6430 - i7-3540m - 4go -240go ssd - w10,- 45%,45
514,Dell M6800 - i7 -16go - 120go ssd - k3100m - w10,- 43%,43
518,Dell M4800 - i7 - 16go - ssd 120go - k2100 - w10,- 40%,40