In [18]:
import requests
import re
import json
import pandas as pd
import numpy as np

In [2]:
url = "https://open-medicaments.fr/api/v1/medicaments?query=paracetamol&limit=100"

json = requests.get(url).json()
df = pd.DataFrame(json)

In [4]:
df.head(5)

    codeCIS                              denomination
0  67445776          PARACETAMOL ZYDUS 500 mg, gélule
1  62721886  PARACETAMOL RATIOPHARM 1000 mg, comprimé
2  62772966              PARACETAMOL EG 1 g, comprimé
3  67034675         PARACETAMOL SANDOZ 500 mg, gélule
4  61223352     PARACETAMOL RATIOPHARM 500 mg, gélule

In [14]:
reg = r"([\D]*)(\d+)(.*),([\w\s]*)"

df_new = df['denomination'].str.extract(reg)
df_new.head(5)

                         0     1    2          3
0       PARACETAMOL ZYDUS    500   mg     gélule
1  PARACETAMOL RATIOPHARM   1000   mg   comprimé
2          PARACETAMOL EG      1    g   comprimé
3      PARACETAMOL SANDOZ    500   mg     gélule
4  PARACETAMOL RATIOPHARM    500   mg     gélule

In [27]:
df_new2 = df_new.rename(index=str, columns={0: "nom",
                                    1: "dosage",
                                    2: "unite",
                                    3: "type"})
df_new2['mille']=np.where(df_new2['unite'].str.strip()=="g",1000, 1)

df_new2.head(5)

                       nom dosage unite       type  mille
0       PARACETAMOL ZYDUS     500    mg     gélule      1
1  PARACETAMOL RATIOPHARM    1000    mg   comprimé      1
2          PARACETAMOL EG       1     g   comprimé   1000
3      PARACETAMOL SANDOZ     500    mg     gélule      1
4  PARACETAMOL RATIOPHARM     500    mg     gélule      1

In [28]:
df_new2['dosage_new'] = df_new2['dosage'].fillna(0).astype(int)*df_new2['mille'].fillna(0).astype(int)
df_new2.head(5)

                       nom dosage unite       type  mille  dosage_new
0       PARACETAMOL ZYDUS     500    mg     gélule      1         500
1  PARACETAMOL RATIOPHARM    1000    mg   comprimé      1        1000
2          PARACETAMOL EG       1     g   comprimé   1000        1000
3      PARACETAMOL SANDOZ     500    mg     gélule      1         500
4  PARACETAMOL RATIOPHARM     500    mg     gélule      1         500